.container {
	max-width: 800px;
	margin: 4.5em auto;
}

header {
	background-color: #ECEEEF;
	padding: 15px;
	font-family: Segoe UI;
	font-weight: 700;
	font-size: 38px;
	color: #707070;
}
/* .quiz, .start {
	max-width: 800px;
	margin: 4.5em auto;
} */
ol {
	padding-top: 15px;
}
.quiz {
	display: none;
}
.answers {
	margin: 20px 0;
}

h1 {
	font-size: 40px;
	font-weight: 700;
}
.btn-block {
	max-width: 380px;
	margin: 0 auto;
	margin-top: 161px;
}
footer {
	padding: 20px;
	background-color: #eceeef;
}